<header class="site-header">
    <div class="wrapper">
        <div class="header-content">
            <a class="site-title" href="{{ "/" | relative_url }}">
                {{ site.title }}<span class="chinese-name">{{ site.chinese_name }}</span>
            </a>
            <nav class="site-nav">
                <a href="{{ "/about/" | relative_url }}"{% if page.url == "/about/" %} class="active"{% endif %}>About</a>
                <a href="{{ "/writing/" | relative_url }}"{% if page.url contains "/writing" or page.url contains "/scifi" %} class="active"{% endif %}>Writing</a>
                <a href="{{ "/reading/" | relative_url }}"{% if page.url contains "/reading" %} class="active"{% endif %}>Reading</a>
            </nav>
        </div>
    </div>
</header>
