{% if include.item.year %}
<h2 class="year_tag">{{include.item.year}}</h2>
{% endif %}
<div class="timeline_entry">
    <div class="timeline_dot"></div>
    <div class="timeline_content_wrapper">
        <div class="timeline_content">
            <h2>{{ include.item.title }}</h2>
            <div class="timeline_entry_description">
                <h4>{{ include.item.place }}; {{include.item.time}}</h4>
                {% for p in include.item.content %}
                <p>{{p}}</p>
                {% endfor %}
                <div class="link_box">
                    <ul>
                        {% for link in include.item.links %}
                        <li><a href="{{ link.url}}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>