<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>
    <div class="big-monitor-message left msg-1">you need this much padding?</div>
    <div class="big-monitor-message right msg-1">you need this much padding?</div>
    <div class="big-monitor-message left msg-2">wow, rich man with the big monitor</div>
    <div class="big-monitor-message right msg-2">wow, rich man with the big monitor</div>
    <div class="big-monitor-message left msg-3">WOW you have a HUGE monitor</div>
    <div class="big-monitor-message right msg-3">WOW you have a HUGE monitor</div>
    <div class="big-monitor-message left msg-4">HOLY FUCKING SHIT LOOK AT THE SIZE OF THIS MONITOR</div>
    <div class="big-monitor-message right msg-4">HOLY FUCKING SHIT LOOK AT THE SIZE OF THIS MONITOR</div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}
</body>

</html>
